<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Healing by Amelia - massage and spiritual recovery</title>
        <link rel="stylesheet" href="/assets/styles.css">
        <script src="/components/header.js" type="text/javascript" defer></script>
        <script src="/components/background.js" type="text/javascript" defer></script>
        <script src="https://kit.fontawesome.com/d71c6a30a4.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header-component></header-component>
        <background-component></background-component>

        <main>
            
            <h1>About me</h1>

            <section id="aboutSection">
                
                <img src="/assets/avatar.jpg" alt="portrait of a middle-aged woman" id="avatar">
                <article>
                    <h2>
                        Hello.
                    </h2>

                    <p>
                        I’m Amelia O’Connor. I am a certified massage therapist, reiki practioner and spiritual guide.
                    </p>

                    <p>I have always enjoyed helping people. While living in Japan, I became enamored with traditional Japanese culture and its inherent spirituality. 
                        Eventually, I discovered massage as a way to help people in need, and decided to get my certificate in 按摩 Anma, traditional Japanese Massage 
                        from the Shiatsu School in Tokyo.
                    </p>

                    <p>
                        I offer massage treatments, reiki healing and guided meditation sessions. All treatments are customized to your individual needs in order to create the most soothing and healing experience for you.
                    </p>
                </article>
            </section>
            
        </main>
    </body>
</html>