<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healing by Amelia - massage and spiritual recovery</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/background.js" type="text/javascript" defer></script>
    <script src="https://kit.fontawesome.com/d71c6a30a4.js" crossorigin="anonymous"></script>
</head>

<body>
    <header-component></header-component>
    <background-component></background-component>

    <main>
        <h1>Schedule an appointment</h1>

        <section id="appointmentSection">
            <fieldset>
                <form action="/views/thankyoubooking.html">
    
                    <label for="treatment-select">Choose a treatment:</label>
                        <select id="treatment-select">
                            
                            <optgroup label="Massage">
                                <option>Shiatsu massage</option>
                                <option>Hot stone massage</option>
                                <option>Essential oil massage</option>
                            </optgroup>
    
                            <optgroup label="Reiki">
                                <option>General healing </option>
                                <option>Area-focused healing </option>
                            </optgroup>
    
                            <optgroup label="Guided meditation">
                                <option>Traditional shinto meditation</option>
                                <option>Spirit journey</option>
                                <option>Exploring our inner spirits</option>
                            </optgroup>
    
                        </select>
            
                   
                    <label for="treatment-duration">Select length of treatment:</label>
            
                        <input type="radio"  name="treatment-duration"> 30 minutes
            
                        <input type="radio"  name="treatment-duration" checked> 60 minutes
            
                        <input type="radio"  name="treatment-duration"> 90 minutes
                    
        
                    <label for="appointment-date">Select date and time: </label>
                        <input type="datetime-local" name="appointment-date" id="" required>
        
                    <button type="submit">Schedule appointment</button>
                </form>
            </fieldset>
        </section>
        
        

    </main>
</body>

</html>