<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healing by Amelia - massage and spiritual recovery</title>
    <link rel="stylesheet" href="/assets/styles.css">
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/background.js" type="text/javascript" defer></script>
    <script src="https://kit.fontawesome.com/d71c6a30a4.js" crossorigin="anonymous"></script>
</head>

<body>
    <header-component></header-component>
    <background-component></background-component>

    <main>
        <h1>Services</h1>
        
            <section>
                <img src="/assets/icons/massage-icon.svg" alt="a masseuse giving a person a massage">
                <h4>Massage</h4>
                <p>
                    I offer a range of massage treatments such as hot stone massage, shiatsu, essential oils, medical
                    massage and more.
                    Your treatment will be tailored to your wants and needs
                </p>
            </section>

            <section>
                <img src="/assets/icons/reiki-icon.svg" alt="the Japanese kanji for reiki">
                <h4>Reiki</h4>
                <p>
                    During a reiki session, we explore your inner energy and alignment. Through hands-on healing,
                    I will assist you in recovering both physically and mentally.
                </p>
            </section>

            <section>
                <img src="/assets/icons/meditation-icon.svg"
                    alt="a person sitting in the lotus position and meditating">
                <h4>Guided meditation</h4>
                <p>
                    Following traditional shinto principles, we embark together on a spiritual journey,
                    where we find our inner center and invite worthiness into our lives.
                </p>
            </section>

    </main>
</body>

</html>