@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Kiwi+Maru&display=swap');

:root {
    --heading-font: 'Kirang Haerang', cursive;
    --body-font: 'Kiwi Maru', serif;
    --primary-color: #c21c1c;
}

body,
html {
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--body-font);
    /* background: url("/assets/background5.png") no-repeat center center fixed;
    background-size: cover; */
    color: white;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

h1 {
    text-align: center;
    font-size: 4em;
    color: var(--primary-color);
    margin: 0;
}

.landingpage-nav {
    display: flex;
    justify-content: space-between;
    margin: 400px auto;
    width: 50%;
    font-size: 2em;
}

nav a {
    padding: 16px;
    color: white;
}

nav a:hover {
    color: lightgray;
}

#avatar {
    border-radius: 80%;
    outline: 5px solid white;
    width: 12%;
    display: flex;
    place-content: center;
    margin: 0 auto;
}